<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Filemin - File Manager</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/extensions/cookie/bootstrap-table-cookie.min.js"></script>
        <script src="unauthenticated/js/bootstrap-table-contextmenu.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/2.0.4/js/bootstrap-submenu.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.confirm.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.callbacks.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.20.0/js/jquery.iframe-transport.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.20.0/js/jquery.fileupload.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/addon/mode/loadmode.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/mode/meta.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/addon/display/autorefresh.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.18.0/jquery.fancytree-all.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script src="unauthenticated/js/chmod-calculator.js"></script>
        <script>
            var text = $text_to_js;
            var root_icon = "$root_icon";
        </script>
        <script src="unauthenticated/js/spec-ops.js"></script>
        <script src="unauthenticated/js/filemin.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/2.0.4/css/bootstrap-submenu.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.buttons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.brighttheme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.18.0/skin-bootstrap/ui.fancytree.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="unauthenticated/css/filemin.css">
        <link rel="stylesheet" href="unauthenticated/css/pnotify-filemin.css">
    </head>
    <body>
        <div class="container-fluid">
            $main_menu
            <ul id="tabs-plus" class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a id="new-tab"><i class="fa fa-plus"></i></a>
                </li>
            </ul>
            <ul id="tabs-control" class="nav nav-tabs" role="tablist">
            </ul>
            <div id="filemin-tree" class="filemin-tree pull-left" style="width: 240px;">
                <div class="tree"></div>
                <div class="input-group input-group-sm">
                    <input name="tree-filter" placeholder="Filter..." autocomplete="off" class="form-control">
                    <span class="input-group-btn">
                        <button name="reset-tree-filter" class="btn btn-danger"><i class="fa fa-close"></i></button>
                    </span>
                </div>
            </div>
            <div id="tabs-container" class="tab-content pull-left"></div>
            <div id="bottom-panel" class="panel panel-default">
                <div class="panel-body">
                    <div id="bottom-controls" class="btn-group pull-left">
                        <button id="hide-tree" class="btn btn-xs btn-default pull-left" value="false">
                            <i class="fa fa-caret-left"></i>
                            <i class="fa fa-caret-right"></i>
                        </button>
                        <button id="close-all" class="btn btn-xs btn-default pull-left">
                            <i class="fa fa-folder-o"></i>
                        </button>
                        <button id="open-all" class="btn btn-xs btn-default pull-left">
                            <i class="fa fa-folder-open-o"></i>
                        </button>
                    </div>
                    <div id="bottom-stats" class="pull-left"></div>
                </div>
            </div>
        </div>
        $context_menu
        $context_menu_search
        <input id="fileupload" type="file" name="files[]" multiple>
        $dialogs
    </body>
</html>
