<script>
    var text = {};
    text.extract = '$text{'extract_archive'}';
    text.edit = '$text{'edit_file'}';
    text.rename = '$text{'rename'}';
    text.copy = '$text{'copy_selected'}';
    text.cut = '$text{'cut_selected'}';
    text.delete = '$text{'delete'}';
    text.paste = '$text{'paste'}';
    text.properties = '$text{'properties'}';
    text.select_all = '$text{'select_all'}';
    text.select_none = '$text{'select_none'}';
    text.invert_selection = '$text{'invert_selection'}';
    var path = '$path';
</script>
