<div id="quicks" style="float:right">
<a href="javascript:void(0)" onclick='selectAll()' title="$text{'select_all'}"><img src='unauthenticated/icons/quick/select-all.png' alt="$text{'select_all'}" /></a>
<a href="javascript:void(0)" onclick='invertSelection()' title="$text{'invert_selection'}"><img src='unauthenticated/icons/quick/invert.png' alt="$text{'invert_selection'}" /></a>
<a href="javascript:void(0)" onclick='copySelected()' title="$text{'copy_selected'}"><img src='unauthenticated/icons/quick/edit-copy.png' alt="$text{'copy_selected'}" /></a>
<a href="javascript:void(0)" onclick='cutSelected()' title="$text{'cut_selected'}"><img src='unauthenticated/icons/quick/edit-cut.png' alt="$text{'cut_selected'}" /></a>
<a href='paste.cgi?path=$path' title="$text{'paste'}"><img src='unauthenticated/icons/quick/edit-paste.png' alt="$text{'paste'}" /></a>
<a href="javascript:void(0)" onclick='createFolder(\"$path\")' title="$text{'create_folder'}"><img src='unauthenticated/icons/quick/folder-new.png' alt="$text{'create_folder'}" /></a>
<a href="javascript:void(0)" onclick='createFile(\"$path\")' title="$text{'create_file'}"><img src='unauthenticated/icons/quick/document-new.png' alt="$text{'create_file'}" /></a>
<a href="javascript:void(0)" onclick='compressSelected()' title="$text{'compress_selected'}"><img src='unauthenticated/icons/quick/compress.png' alt="$text{'compress_selected'}" /></a>
<a href="javascript:void(0)" onclick='chmodSelected()' title="$text{'chmod_selected'}"><img src='unauthenticated/icons/quick/chmod.png' alt="$text{'chmod_selected'}" /></a>
<a href="javascript:void(0)" onclick='chownSelected()' title="$text{'chown_selected'}"><img src='unauthenticated/icons/quick/chown.png' alt="$text{'chown_selected'}" /></a>
<a href="javascript:void(0)" onclick='removeSelected()' title="$text{'remove_selected'}"><img src='unauthenticated/icons/quick/remove.png' alt="$text{'remove_selected'}" /></a>
<a href="javascript:void(0)" onclick='browseForUpload()' title="$text{'browse_for_upload'}"><img src='unauthenticated/icons/quick/browse.png' alt="$text{'browse_for_upload'}" /></a>
<a href="javascript:void(0)" onclick='uploadFiles()' title="$text{'upload_files'}"><img src='unauthenticated/icons/quick/upload.png' alt="$text{'upload_files'}" /></a>
<a href="javascript:void(0)" onclick='downFromUrl(\"$path\")' title="$text{'get_from_url'}"><img src='unauthenticated/icons/quick/from-url.png' alt="$text{'get_from_url'}" /></a>
</div>
<div id="info" style="float:right"></div>
