<div id="noFilesSelected" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'warning_title'}</h4>
            </div>
            <div class="modal-body">
                <h5>$text{'no_files_selected'}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_ok'}</button>
            </div>
        </div>
    </div>
</div>

<div id="createFolderDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'create_folder'}</h4>
            </div>
            <div class="modal-body">
                <form id="createFolderForm" action="create_folder.cgi" method="post">
                    <div class="form-group">
                        <label>$text{'new_folder_name'}</label>
                        <input id="name" name="name" type="text" class="form-control" required>
                        <input type='hidden' name='path' value='$path'>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createFolder()">$text{'create'}</button>
                <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
            </div>
        </div>
    </div>
</div>

<div id="createFileDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'create_file'}</h4>
            </div>
            <div class="modal-body">
                <form id="createFileForm" action="create_file.cgi" method="post">
                    <div class="form-group">
                        <label>$text{'new_file_name'}</label>
                        <input name="name" type="text" class="form-control" required>
                        <input type='hidden' name='path' value='$path'>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createFile()">$text{'create'}</button>
                <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
            </div>
        </div>
    </div>
</div>

<div id="renameDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'rename'}</h4>
            </div>
            <div class="modal-body">
                <form id="renameForm" action="rename.cgi" method="post">
                    <div class="form-group">
                        <label>$text{'new_name'}</label>
                        <input name="name" type="text" class="form-control" required>
                        <input type='hidden' name='file' value='' required>
                        <input type='hidden' name='path' value='$path'>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="renameSelected()" name="button">$text{'rename'}</button>
                <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
            </div>
        </div>
    </div>
</div>

<div id="compressDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'compress_selected'}</h4>
            </div>
            <div class="modal-body">
                <form id="compressSelectedForm">
                    <div class="form-group">
                        <label>$text{'archive_name'}</label>
                        <input name="filename" type="text" class="form-control" required>.tar.gz
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="compressSelected()">$text{'dialog_compress'}</button>
                <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
            </div>
        </div>
    </div>
</div>

<div id="removeDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'remove_selected'}</h4>
            </div>
            <div class="modal-body">
                $text{'about_to_delete'}
                <div id="items-to-remove" class="well">
                </div>
                $text{'are_you_sure'}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="removeSelected()">$text{'remove_selected'}</button>
                <button type="button" class="btn bnt-primary" data-dismiss="modal">$text{'dialog_cancel'}</button>
            </div>
        </div>
    </div>
</div>

<div id="chownDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'chown_selected'}</h4>
            </div>
            <div class="modal-body">
                <form id="chownForm">
                    <div class="form-group">
                        <label>$text{'user_name'}</label>
                        <input name="owner" type="text" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="chownSelected()">$text{'dialog_change'}</button>
                <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
            </div>
        </div>
    </div>
</div>

<div id="chmodDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="warning">$text{'chown_selected'}</h4>
            </div>
            <div class="modal-body">
                <form name="chmod">
                    <div class="form-group">
                        <label for="t_total">$text{'permissions'} : </label>
                        <input id="perms" type="text" name="t_total" value="644" size="4" onKeyUp="octalchange()" class="form-group-item">
                        <input type="text" name="sym_total" value="" size="12" readonly="true" class="form-group-item">
                    </div>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th><b>$text{'chmod_owner'}</b></th>
                            <th><b>$text{'chmod_group'}</b></th>
                            <th><b>$text{'chmod_others'}<b></th>
                        </tr>
                        <tr>
                            <td>$text{'chmod_read'}</td>
                            <td><input type="checkbox" name="owner4" value="4" onclick="calc_chmod()"></td>
                            <td><input type="checkbox" name="group4" value="4" onclick="calc_chmod()"></td>
                            <td><input type="checkbox" name="other4" value="4" onclick="calc_chmod()"></td>
                        </tr>
                        <tr>		
                            <td>$text{'chmod_write'}</td>
                            <td><input type="checkbox" name="owner2" value="2" onclick="calc_chmod()"></td>
                            <td><input type="checkbox" name="group2" value="2" onclick="calc_chmod()"></td>
                            <td><input type="checkbox" name="other2" value="2" onclick="calc_chmod()"></td>
                        </tr>
                        <tr>
                            <td>$text{'chmod_execute'}</td>
                            <td><input type="checkbox" name="owner1" value="1" onclick="calc_chmod()"></td>
                            <td><input type="checkbox" name="group1" value="1" onclick="calc_chmod()"></td>
                            <td><input type="checkbox" name="other1" value="1" onclick="calc_chmod()"></td>
                        </tr>
                    </table>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="chmodSelected()">$text{'dialog_change'}</button>
        <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
      </div>
    </div>
  </div>
</div>

<div id="downFromUrlDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="warning">$text{'get_from_url'}</h4>
      </div>
      <div class="modal-body">
        <form id="downFromUrlForm" action="http_download.cgi" method="post">
          <div class="form-group">
            <label>$text{'dialog_file_url'}</label>
            <input name="link" type="url" class="form-control" required>
            <input type='hidden' name='path' value='$path'>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="downFromUrl()">$text{'dialog_download'}</button>
        <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
      </div>
    </div>
  </div>
</div>

<div id="readyForUploadDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="warning">$text{'upload_files'}</h4>
      </div>
      <div class="modal-body">
        <form id='upload-form' method='post' action='upload.cgi' enctype='multipart/form-data'>
            <input type='file' id='upfiles' name='upfiles' multiple onchange='countUploads(this)'>
            <input type='hidden' name='path' value='$path'>
        </form>
          <div id="readyForUploadList" class="well">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="uploadFiles()">$text{'upload_files'}</button>
        <button type="button" class="btn bnt-default" data-dismiss="modal">$text{'dialog_cancel'}</button>
      </div>
    </div>
  </div>
</div>
