<script type="text/javascript" src="unauthenticated/js/chmod-calculator.js"></script>
<script type="text/javascript" src="unauthenticated/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="unauthenticated/js/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="unauthenticated/jquery/jquery.min.js"></script>
<script type="text/javascript" src="unauthenticated/jquery/jquery-ui.min.js"></script>
<script type=\"text/javascript\" src=\"unauthenticated/js/main.js\"></script>
<script type="text/javascript" src="unauthenticated/jquery-contextmenu/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="unauthenticated/jquery-contextmenu/jquery.ui.position.min.js"></script>
<link rel="stylesheet" type="text/css" href="unauthenticated/css/style.css" />
<link rel="stylesheet" type="text/css" href="unauthenticated/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="unauthenticated/jquery-contextmenu/jquery.contextMenu.min.css" />
<script type="text/javascript" src="unauthenticated/blueimp-file-upload/jquery.fileupload.min.js"></script>
<link rel="stylesheet" type="text/css" href="unauthenticated/blueimp-file-upload/css/jquery.fileupload.min.css" />
<script type="text/javascript" src="unauthenticated/blueimp-file-upload/jquery.iframe-transport.min.js"></script>
